#list-container{
  padding-top:20px;
}

#list{
  margin: 0 0px;
}

#list ul, #list li{
  list-style: none;
  margin:0;
  padding:0;
}

#list ul{
  display:flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  padding:10px;
}

#list li{
  flex: 1 0 30%;
  height:150px;
  margin:10px;
  background-size:cover;
  background-position: center center;
  cursor:pointer;
}

@media screen and (max-width: 768px) {
  #list li{
    flex: 1 0 100%;
  }  
}

@media screen and (max-width: 1023px) {
  #list li{
    flex: 1 0 45%;
  }  
}

#list img.stateimg{
  float:left;
  /*margin:-23px 5px 5px 8px;*/
  width:40px;
  height:34px;
  border:none;
  outline:none;
  background-position: center;
  background-size:40px 34px;
  background-repeat: no-repeat;
}

#list img.stateimg.substate{
  height:60px;
}

.stufen-icon.stufen-1,
#list img.stateimg.state-1{ 
  background-color:#97B014;
  background-image: url('../images/icons/icon_1@2x.png');
}

.stufen-icon.stufen-2,
#list img.stateimg.state-2{ 
  background-color:#97B014;
  background-image: url('../images/icons/icon_2@2x.png');
}

.stufen-icon.stufen-11,
#list img.stateimg.state-11{ 
  background-color:#97B014;
  background-image: url('../images/icons/icon_11@2x.png');
}

.stufen-icon.stufen-12,
#list img.stateimg.state-12{ 
  background-color:#97B014;
  background-image: url('../images/icons/icon_12@2x.png');
}

.stufen-icon.stufen-9,
#list img.stateimg.state-9{ 
  background-color:#CDCDCD;
  background-image: url('../images/icons/icon_9@2x.png');
}

.stufen-icon.stufen-5,
#list img.stateimg.state-5{ 
  background-color:#E20026; 
  background-image: url('../images/icons/icon_5@2x.png');
}

.stufen-icon.stufen-6,
#list img.stateimg.state-6{ 
  background-color:#E20026; 
  background-image: url('../images/icons/icon_6@2x.png');
}

.stufen-icon.stufen-15,
#list img.stateimg.state-15{ 
  background-color:#E20026; 
  background-image: url('../images/icons/icon_15@2x.png');
}

.stufen-icon.stufen-16,
#list img.stateimg.state-16{ 
  background-color:#E20026; 
  background-image: url('../images/icons/icon_16@2x.png');
}

.stufen-icon.stufen-3,
#list img.stateimg.state-3{ 
  background-color:#F49F00;
  background-image: url('../images/icons/icon_3@2x.png'); 
}

.stufen-icon.stufen-4,
#list img.stateimg.state-4{ 
  background-color:#F49F00;
  background-image: url('../images/icons/icon_4@2x.png'); 
}

.stufen-icon.stufen-13,
#list img.stateimg.state-13{ 
  background-color:#F49F00;
  background-image: url('../images/icons/icon_13@2x.png'); 
}

.stufen-icon.stufen-14,
#list img.stateimg.state-14{ 
  background-color:#F49F00;
  background-image: url('../images/icons/icon_14@2x.png'); 
}



#list li a{
  width:100%;
  height:150px;
  display:table;
  cursor: pointer;
  font-size:12px;
  color:#999;
  cursor:pointer;
}

#list li a:hover,
#list li a:focus{
  background-color:rgba(37,15,118,0.5);
  cursor:pointer;
}

#list li span.outer{
  cursor:pointer;
  width:300px;
  height:110px;
  padding-bottom:10px;
  display: table-cell;  
  vertical-align:bottom;
}

#list li span.outer>span{
  line-height:24px;
}

#list li span span span{
  background-color:rgba(37,15,118,0.7);
  color:#fff;
  font-size:16px;
  font-weight:bold;
  padding:5px 10px;
  display: inline-block;
}

#list li span.unresponsive-sub{
  padding-top:0px;
  line-height: 22px;
  font-weight:normal;
  font-size:14px;
}

#list li:nth-child(odd){
  background-color:rgba(0,0,0,0.05);
}