/*
font-family: 'Open Sans', sans-serif;
font-family: 'Heebo', sans-serif;
*/

html, body{ 
  margin:0; 
  padding:0; 
  border:0; 
  width:100%; 
  height:100%; 
  font-family: 'Open Sans', sans-serif;
  background-color:#ececec;
}

*{
  outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #253276;
    border-radius: 0;
}

#splash{
  position: fixed;
  width:100%;
  height:100%;
  background-color:#fff;
  z-index: 30;
  text-align:center;
}

#splash div{
  line-height:15px;
  display: block;
  width:170px;
  height:110px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -85px;
  margin-top: -55px;
}

#splash div img{
  margin-bottom:8px;
}

.small{
  font-size:12px;
}

.topnav {
  z-index: 10;
  position:fixed;
  top:0;
  margin:0 auto;
  width:100%;
  max-width:1024px;
  overflow: hidden;
  background-image:url(../images/head-bg-desktop@2x.png);
  background-size:1025px 75px;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height:75px;
  pointer-events: none;
}

.topnav a {
  pointer-events: all;
  margin:8px 0 0 8px;
  float: left;
  display: block;
  color: #253276;
  text-align: center;
  padding: 11px 16px 8px 16px;
  height:21px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#ececec;
  padding-bottom:7px;
}

.topnav a.active:hover,
.topnav a.active{
  background-color: #253276;
  color:#fff;
}

.topnav a.icon {
  display: none;
  margin:0 0 0 0;
  padding:15px 14px 9px 18px;
}

.topnav a.icon:hover {
  background-color:#fff;
}

#container{
  margin:0 auto;
  width:100%;
  max-width: 1024px;
  -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  background-color: #fff;
}

h1{
  color:#253276;
  float:left;
  font-size:18px;
  margin:5px 0 0 10px;
  padding:0;
}

#logo{
  height:30px;
  float:right;
  margin:12px 12px 0 0;
}

#map{
  width:100%;
  height:600px;
  max-height:500px;
  border-bottom:2px solid #253276;
}

#detail{
  display: none;
  width:100%;
  overflow-x:hidden;
}

#closebtn{
  float:right;
  text-indent:300px;
  width:20px;
  height:20px;
  cursor: pointer;
  margin:5px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size:20px 20px;
  background-image:url(../images/close@2x.png);
}

.marker{
  width:27px;
  height:27px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:27px 27px;
  cursor:pointer;
}

.marker.gruen{ background-image:url(../images/marker_gruen@2x.png); }
.marker.rot{ background-image:url(../images/marker_rot@2x.png); }
.marker.orange{ background-image:url(../images/marker_orange@2x.png); }

.marker.gruen.inactive,
.marker.rot.inactive,
.marker.orange.inactive{ background-image:url(../images/marker_inactive@2x.png); }

#legend{
  margin-top:10px;
  float:left;
  font-size:12px;
}

#legend ul, #legend li{
  list-style: none;
  margin:0;
  padding:0;
}

#legend li{
  float:left;
  line-height: 18px;
}

#legend img{
  margin:1.5px 5px 0 10px;
  width:14px;
  height:auto;
  float:left;
}

#measure{
  line-height:18px;
  margin:10px 10px 0 0;
  float:right;
  font-size:12px;
}

.responsive-break{
  display: none;
}

#measure a{
  text-decoration: none;
  font-style:italic;
  color:#253276;
}

#measure a:hover{
  text-decoration: underline;
}

h2{
  clear:both;
  margin:0;
  padding:0;
  font-size:18px;
  padding:0 10px 0 10px;
}

.subline{
  font-size:12px;
  padding:0 10px 5px 10px;
  display: block;
}

#list-container{
  margin:0 14px;
}

#list ul, #list li{
  list-style: none;
  margin:0;
  padding:0;
}

#list img.stateimg{
  float:left;
  /*margin:-23px 5px 5px 8px;*/
  width:15px;
  height:34px;
  border:none;
  outline:none;
}

#list img.stateimg.substate{
  height:60px;
}

#list img.stateimg.state-gruen{ background-color:#97B014; }
#list img.stateimg.state-rot{ background-color:#E20026; }
#list img.stateimg.state-orange{ background-color:#F49F00; }

#list li{
  width:300px;
  height:150px;
  float:left;
  margin:15px;
  background-size:300px 200px;  
}

#list li a{
  width:300px;
  height:150px;
  display:table;
  cursor: pointer;
  font-size:12px;
  color:#999;
}

#list li a:hover{
  background-color:rgba(37,15,118,0.5);
}

#list li span.outer{
  width:300px;
  height:110px;
  padding-bottom:10px;
  display: table-cell;  
  vertical-align:bottom;
}

#list li span.outer>span{
  line-height:24px;
}

#list li span span span{
  background-color:rgba(37,15,118,0.7);
  color:#fff;
  font-size:16px;
  font-weight:bold;
  padding:5px 10px;
  display: inline-block;
}

#list li span.unresponsive-sub{
  padding-top:0px;
  line-height: 22px;
  font-weight:normal;
  font-size:14px;
}

#list li:nth-child(odd){
  background-color:rgba(0,0,0,0.05);
}

#loading{
  text-align: center;
  font-size:14px;
  margin:20px 0 0 0;
}

#detail{
  padding-bottom:50px;
}

.modul-headline h4,
.modul-text_bild h4,
.modul-headline h2,
.modul-headline h3,
.modul-text_bild h2,
.modul-text_bild h3{
  font-weight:bold;
  font-size:16px;
  color:#000;
  margin:0;
  padding:20px 10px 0 10px;
}

.body a{
  text-decoration: none;
  color:#253276;
  font-style: italic;
}

.body a:hover{
  text-decoration: underline;
}

.body p{
  font-size:14px;
  padding:5px 10px 0 10px;
  margin:0;
}

.body ul,
.body li{
  font-size:14px;
}

.detail-header{
  background-color:#253276;
}

.detail-header h1, .detail-header h2{
  display: block;
  color:#fff;
  margin:0;
  padding:0;
  float:left;
  font-size:18px;
  padding:5px 0 0 10px;
}

.detail-header h2{
  clear:both;
  font-weight:normal;
  font-size:16px;
  float:none;
  padding-top:0;
  padding-bottom:5px;
}

.detail-image{
  width:50%;
  margin:20px;
  float:left;
}

.detail-image img{
  width:100%;
  height:auto;
}

.detail-location{
  float:left;
}

.detail-addon{
  clear:both;
  float:left;
  width:50%;
  margin: 0 20px;
}

.detail-amt{
  float:left;
  margin:0 0 0 0;
}

.caption{
  padding:0 10px;
  font-size:10px;
  color:rgba(0,0,0,0.8);
}

#footer{
  padding:0 40px;
}

#footer img{
  margin-bottom:20px;
}

#footer h2.first{
  padding:40px 0 10px 0;
}

#footer h2{
  padding:30px 0 10px 0;
}

#footnote{
  padding:30px 0 30px 0;
  text-align:center;
}

#footnote a{
  color:black;
  text-decoration: none;
}

#footnote a:hover{
  color:rgba(0,0,0,0.5);
}

@media screen and (max-width: 768px) {
  .detail-image img{
    width:100%;
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  #list{
    margin-top:15px;
  }

  #list li{
    background-image:none !important;
    float:none;
    height:auto;
  }

  #list li a{
    width:auto;
    height: auto;
    display: block;
  }

  #list li span.outer{
    width:auto;
    height:auto;
    display: inline;
    padding:0;
  }

  #list img.stateimg,
  #list img.stateimg.substate {
    height: 10px;
  }

  #list li span span span{
    background:none;
    color:#000;
  }

  #legend li{
    clear:both;
  }

  .unresposive-break{
    display: none;
  }

  .topnav a:not(.home) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
    padding:9px 11px 7px 15px;
  }

  .topnav {
    background-image:url(../images/head-bg-mobile@2x.png);
    background-size:1024px 55px;
    min-height:54px;
  }

  .topnav a{
    font-size: 15px;
    margin:6px 0 0 6px;
    padding: 6px 13px 5px 13px;
  }

  #logo{
    height:22px;
    margin:10px 8px 0 0;
  }

  .topnav.responsive {
    background:#fff;
    border-bottom:4px solid #253276;
    position: fixed;
    padding-bottom:5px;
  }

  .topnav.responsive .icon {
    display: block;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav #logo{
    position:fixed;
    z-index:20;
    top:0;
    right:0;
  }

  .responsive-break{
    display: inline;
  }

  h2{
    padding-top:20px;
  }

  #footer img{
    max-width:80%;
    margin:0 auto;
  }

  #footnote{
    font-size:12px;
  }

  #list li{
    clear:both;
    float:none;
    width:100%;
    margin:0;
    line-height:32px;
  }

  #list img.stateimg{
    margin:7.5px 10px 0 10px;
  }
}