#faq-list{
  margin:0;
  padding: 0 0 0 15px;
  max-width:550px;
}

#faq-list li{
  padding-top:10px;
}

#faq-list li.no-count{
  font-weight:bold;
  padding-top:20px;
}

#faq-list li a{
  color:#253276;
  text-decoration: none;
}

#faq-list li a:hover{
  text-decoration: underline;
}

ol#faq-list {
  counter-reset: section;
  list-style-type: none;
}

ol#faq-list li:not(.no-count)::before {
  display: inline-block;
  width:30px;
  counter-increment: section;
  content: counters(section,".") ". ";
}

#faq-1 {
  counter-reset: section;
}

section{
   counter-increment: section;
}

section>h3::before {
  content: counters(section,".") ". ";
}

.faq-h{
  padding-top:50px;
  font-size:24px;
  max-width: 550px;
}

section>h3{
  font-size:18px;
  padding-left:15px;
  max-width: 550px;
}