<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Berliner Badestellen - States</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href='./css/states.css' rel='stylesheet' />
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th><th>Name</th><th>LaGeSo</th><th>KWB</th><th>App</th>
      </tr>
    </thead>
    <tbody>
{{STATES}}      
    </tbody>
    <tfoot>
      <tr>
        <th>ID</th><th>Name</th><th>LaGeSo</th><th>KWB</th><th>App</th>
      </tr>
    </tfoot>
  </table>
</body>
</html>